<!DOCTYPE html>
<html>
  <head>
    <title>Bee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script src="twitter-bootstrap-v2/docs/assets/js/jquery.js"></script> -->
    <!-- <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script> -->
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span8">
              <ul class="nav nav-pills">
                <% if user_signed_in? %>
                  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                <% end %>
                <% unless user_signed_in? %>
                  <li><%= link_to "Login", new_user_session_path %></li>
                  <li><%= link_to "Registration", new_user_registration_path %></li>
                <%end %>              
              <li><%= link_to "Home", root_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
<script type="text/javascript">
  $(".alert").fadeOut(5000);
</script>